<div class="view view--full">
  <div class="layout">
    <div class="columns">
      <% featured_posts.each do |subreddit_and_posts| %>
        <div class="column" data-list-limit="true" data-list-max-height="400" data-list-hidden-count="false">
          <div class="list">
            <div class="item">
              <span class="label"># <%= subreddit_and_posts[:subreddit] %></span>
            </div>
            <% subreddit_and_posts[:posts].each_with_index do |post, idx| %>
              <div class="item">
                <div class="meta">
                  <span class="index"><%= idx + 1 %></span>
                </div>
                <div class="content">
                  <span class="title title--small <% unless truncate_title %> text--truncate-none <% end %>"><%= sanitize(post[:title]) %></span>
                  <% if include_metadata %>
                    <div class="flex gap--xsmall">
                      <span class="label label--small label--underline"><%= number_with_delimiter(post[:votes]) %> votes</span>
                      <span class="label label--small label--underline">via u/<%= post[:author] %></span>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "plugins/reddit/title_bar", sort_by: sort_by %>
</div>
